<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../assets/css/style.css">
</head>
<body>
    <!--header-->
     <div class="container-fluid">
        <div class="header">
            <h2>Todo Application</h2>
        </div>
    </div>  
    <!--main site-->
    <div class="container">
        <div class="box">
            <form method="POST" class="form" id="add_list"> 
                <div class="input">
                    <input type="text" placeholder="your todo thing" name="list" id="list" class="inp">
                    <button type="submit" class="btn">Add New</button>
                </div>
                
                <table class="table">
                    <thead class="thead">
                        <tr>
                            <th>ID</th>
                            <th>TODo Work</th>
                            <th>Timing</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>PLAYING CRICKET</td>
                            <td>4PM-6PM</td>
                            <td><button type="submit" class="del">Delete</button></td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
     </div>



</body>
</html>